html, body, main {
	height: 100%;
	overflow: hidden;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
	header, main, footer {
	    padding-left: 0;
	}	
}

main {
	display: flex;
  	flex-flow: column;
}

[v-cloak] {
  display: none;
}

.nopadding {
	padding-left: 0px;
}

/* CSS added to materializecss */

.preloader-wrapper.tiny {
	width: 18px;
	height: 18px;
}

.spinner-white {
	border-color: #fff;
}

/* End */

.nav-avatar img:hover {
	cursor: pointer;
}

#chat-messages {
	flex: 2;
    width: 100%;
    overflow: auto;
    padding: 10px 0 0 10px;
}

.chat-line {
	margin: 5px 10px 5px 0;
}

.chat-line img {
	float: left;
	width: 35px;
}

.chat-line .chat-name {
	display: block;
	font-weight: bold;
	margin-left: 40px;
}

.chat-line .chat-content {
	display: block;
	margin-left: 40px;
}

.chat-input {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}

.chat-input .btn {
	float: left;
	padding: 0 1rem;
}

.chat-input .input-wrapper {
	overflow: hidden;
	padding-left: 10px;
}

.chat-input .input-wrapper input {
	height: 2.3rem;
	margin: 0;
}